@import url("tokens.css");
@import url("base.css");
@import url("topbar.css");
@import url("buttons.css");
@import url("forms.css");
@import url("dashboard.css");
@import url("invoice.css");
@import url("tables.css");
@import url("products.css");
@import url("tabs.css");
@import url("select2-dark.css");
@import url("kpi.css");
@import url("product-detail.css");
@import url("incoming.css");